.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #fff;
    padding-bottom: 30px;
    width: 500px;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}
.text {
    color: #00ff4c;
    font-size: 40px;
    font-weight: 700;
}
.underline {
    width: 61px;
    height: 5px;
    background: black;
    border-radius: 10px;
}
.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 60px;
    background: #eaeaea;
    border-radius: 6px;
}
.input img {
    margin: 0px 30px;
    width: 30px;
    height: 30px;
}
.input input {
    height: 40px;
    width: 300px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 18px;
}
.forgot-password {
    padding-right: 290px;
    margin-top: 22px;
    color: #797979;
    font-size: 15px;
}
.forgot-password span {
    color: #00ff4c;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.submit-container {
    display: flex;
    gap: 20px;
    margin: 30px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    background: #00ff4c;
    border-radius: 50px;
    cursor: pointer;
}
.gray {
    background: #eaeaea;
    color: black;
}